html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;    
}


body .container{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
}

.nav{  
    flex: 85%;
    font-family: 'Barlow', sans-serif;  
}

.nav_bar{
    list-style-type: none;
    float: right; 
    margin-right: 5rem;  
}

.nav_bar li{
    float: left;
    padding: 20px;
}

.nav_bar li a{
    text-decoration: none;
    color: #ffff;  
}

.wraper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}


.burger_menu{
    background-image: url(../images/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1rem 2rem;
    height: 5rem;
    width: 5rem;
    float: right;
    display: none;
}

.menu_mobile{
    display: none;
    background-color: #ffff;
    width:360px;

}

.header{
    display: flex;
    flex-direction: column;
    height: 600px;
    background: url("../images/desktop/image-header.jpg") no-repeat center;
    background-size: cover;
    width: 1440px;
    
}

.wraper .logo{  
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    flex:15%;
    text-align: center;
    color: #ffff;
    padding-top: 1rem;
}



.header_title{   
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fraunces', serif; 
    font-size: 2em;
    margin-top: 1em;
    color: #ffff;
    letter-spacing: 0.2em;
}

.arrow{
    text-align: center;
   background-image: url("../images/arrow.svg") ;
   background-size: 100px;
   background-repeat: no-repeat;
   background-position: center;
   color: #ffff;
   height: 100px;
   margin-top: 30px;
   fill: white;  
}

.nav_bar .contact{
    font-family: 'Fraunces', serif;
    color: rgb(25, 83,107);
    text-transform: uppercase;
    padding: 1em;
}  



.nav_bar .rounded_background{
    background:rgb(255,255,255);
    border-radius: 30px;
}

.nav_bar .rounded_background:hover{
    background: rgba(255, 255, 255, 0.4);
}


.section_transform{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;  
}

.egg_text{ 
    flex:50%;   
    box-sizing: border-box;   
}

.egg_text h1{
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
}

.egg_text p{
    font-family: 'Barlow', sans-serif; 
    color: #A7ABAE;
    font-size: 1rem;
}



.egg_text .wewnetrzny .learn_more_egg, .cup_learn{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
}

.egg_text .wewnetrzny .learn_more_egg::after{
    content: "";
    height: 0.5rem;
    width: 7.5rem;
    border-radius: 10px;
    background: rgba(250, 212, 0,0.3);
    position: absolute;
    display: block;
    margin-top: -0.4rem;
    margin-left: -0.3rem;
    z-index: -1;
}

.egg_text .wewnetrzny .learn_more_egg:hover::after{
    background: rgba(250, 212, 0, 1);
}

.wewnetrzny{
    padding: 7rem 6rem;
}

.cup_section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cup_img{
    flex: 50%;
    background-image: url(../images/desktop/image-stand-out.jpg);
    height: 600px ;
    
}


.inner_standout{
    flex: 50%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 7rem 7rem;
}


.cup_learn::after{
    content:"";
    z-index:-1;
    background: rgba(250, 29, 0,0.3);
    border-radius: 10px;
    width: 7.5rem;
    height: 0.5rem;
    margin-top: -0.4rem;
    margin-left: -0.3rem ;
    display: block;
}

.cup_learn:hover::after{
    background: rgba(250, 29, 0,1);
}

.graph_photo{
    width: 1440px;
    display: flex;
    flex-direction: row;
}

.graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 600px;
    background-image: url(../images/desktop/image-graphic-design.jpg);
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 50%;
    height: 600px;
    background-image: url(../images/desktop/image-photography.jpg);
}

.photo_text, .graph_text{
    padding: 9rem 9rem 2rem 9rem;
    text-align: center;
    color:rgb(90, 99, 108);
    line-height: 2rem;
}

.photo_text h1, .graph_text h1{
    font-family: 'Fraunces', serif; 
}

.photo_text p, .graph_text p{
    font-family: 'Barlow', sans-serif; 
}

.testimonials{
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    margin: 0 0rem;
}

.testimonials_body{
    display: flex;
    flex-direction: row;

    width: 1440px;
    margin: 4rem 0rem;
    
    
}

.testim_1, .testim_2, .testim_3{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}

.testimonial_header{
    margin-top: 10rem;
    font-family: 'Fraunces', serif; 
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: rgb(167, 171, 174);
}


.testim_1_photo{
    background-image: url(../images/image-emily.jpg);
    width: 144px;
    height: 144px;
    border-radius: 50%;  
}

.testim_2_photo{
    background-image: url(../images/image-thomas.jpg);
    width: 144px;
    height: 144px;
    border-radius: 50%;  
}

.testim_3_photo{
    background-image: url(../images/image-jennie.jpg);
    width: 144px;
    height: 144px;
    border-radius: 50%;  
}

.testim_1_text, .testim_2_text, .testim_3_text{
    margin: 3rem 2rem;
    font-family: 'Barlow', sans-serif; 
    text-align: center;
    color: rgb(90, 99, 108);
    letter-spacing: -0.4px;
    
}

.testim_1_footer p:first-child, .testim_2_footer p:first-child, .testim_3_footer p:first-child{
    font-family: 'Fraunces', serif;  
    text-align: center;
}

.testim_1_footer p:nth-child(2), .testim_2_footer p:nth-child(2), .testim_3_footer p:nth-child(2){
    text-align: center;
    font-family: 'Barlow', sans-serif; 
    color: rgb(167, 171, 174)     
}

.gallery{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 500px;
}

.cloud{
    flex:1;
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
}

.orange{
    flex:1;
    background-image: url(../images/desktop/image-gallery-orange.jpg);
    background-size: cover;
}

.corn{
    flex:1;
    background-image: url(../images/desktop/image-gallery-cone.jpg);
    background-size: cover;
}

.sugar{
    flex:1;
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
}

.foot{
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    background-color: rgb(144, 212, 197);
    padding-bottom: 3rem;
}

.footer_logo{
    padding-top: 3rem;
    color:rgb(69, 140, 126); 
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
}

.footer_nav, .links{
    list-style-type: none;
    margin:0;
    padding-top:3rem;
}

.footer_nav li, .links li, .attribution{
    display: inline-block;
    padding: 0 2rem;
    color:rgb(69, 140, 126); 
    font-family: 'Barlow', sans-serif;
}

.links li{
    padding: 0 0;
}

.fb{
    background-image: url(../images/icon-facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.insta{
    background-image: url(../images/icon-instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;  
}

.twit{
    background-image: url(../images/icon-twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.pint{
    background-image: url(../images/icon-pinterest.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 375px){

    html{
        width:375px;
    }

    .burger_menu{
        display:block;
    }


    .menu_mobile{
        width: 60%;
        display: none;
        background-color: #ffff;
        font-family: 'Barlow', sans-serif;
        line-height: 3rem;
        padding: 0.5rem 2rem;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: -9px;
        align-items: center;
        text-align: center;
        justify-content: center;
        z-index: 3;
    }


    .hidden_menu{
        display: flex;
        flex-direction: column;
    }

    .menu_arrow{
        width: 0; 
        height: 0; 
        border-left: 25px solid transparent;
        -moz-border-left: 25px solid transparent;
        border-right: 0px solid transparent;
        -moz-border-right: 0px solid transparent;
        border-bottom: 35px solid white;
        -moz-border-bottom: 35px solid white;
        margin-left: 305px;
        display: none;
    }

    .mobile_list{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        list-style-type: none;
        padding-inline-start: 0px;
        color: rgb(90, 99, 108);
        padding-bottom: 20px;
    }

    .mobile_list li{
        margin: auto;
        align-items: center;
        
        text-align: center;
    }

    .rounded_mobile{
        background-color: rgba(250, 212, 0, 1);
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mobile_contact{
        color: rgb(33, 33, 39);      
        font-family: 'Fraunces', serif; 
        text-transform: uppercase;       
    }

    .header{
        background-color: brown;
    }


    .arrow{
        padding-top: 6rem;
        z-index: 1;
        margin-top: 0rem;
    }
    .nav_bar{
        display: none;
    }

    .logo{
        padding-left: 1rem;
    }
    .header{
        background-image: url(../images/mobile/image-header.jpg); 
        width: 375px;
        background-size: cover;  
    }

    .egg{    
        background-image: url("../images/mobile/image-transform.jpg");
    }

    .wewnetrzny{
        padding: 1rem 1rem;
    }

    .section_transform{
        width: 375px;
        flex-wrap: wrap-reverse;
        text-align: center;
        
    }

    .egg{    
        flex:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 312px;
        background-image: url("../images/mobile/image-transform.jpg");
    }

    .egg_text .wewnetrzny .learn_more_egg::after{
        margin-top: -0.5rem;
        margin-left: 5.5rem ;
    }

    .cup_learn::after{
        margin-top: -0.5rem;
        margin-left: 5.5rem ;
    }

    .inner_standout{
        font-size: 1rem;
        box-sizing: border-box;
        overflow: hidden;
        padding: 1rem 1rem;
    }
    
    

    .cup_section{
        display: flex; 
        width: 375px;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .cup_img{
        flex: 100%;
        background-image: url(../images/mobile/image-stand-out.jpg);
        background-position: center;
        background-size: cover;
        height: 312px;
    }

    .graph_photo{
        width: 375px;
        display: flex;
        flex-direction: column;
    }

    .graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url(../images/mobile/image-graphic-design.jpg);
    }

    .photo{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        height: 600px;
        width: 100%;
        background-size: cover;
        background-image: url(../images/mobile/image-photography.jpg);
    }

    .photo_text, .graph_text{
        padding: 1rem 2rem 4rem 2rem;
        text-align: center;
        color:rgb(90, 99, 108);
        line-height: 1rem;
    }

    .testimonials{
        width: 375px;
    }

    .testimonials_body{
        display: flex;
        flex-direction: column;

        width: 100%;
        margin: 4rem 6rem;
        
    }

    .testim_1, .testim_2, .testim_3{
        flex:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1rem;
    }
    
    .testimonial_header{
        margin-top: 1rem;
        font-family: 'Fraunces', serif; 
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: rgb(167, 171, 174);
        text-align: center;
    }
    
    .gallery
    {
        width: 375px;
        height: 375px;
        flex-wrap: wrap;
    }

    .cloud{
        flex:50%;
    }

    .orange{
        flex:50%;
    }

    .sugar{
        flex:50%;
    }

    .corn{
        flex: 50%;
    }

    .foot{
        width: 375px;
    }

}

@media screen and (min-width: 376px){

    html{
        width: 1440px;
    }
    .burger_menu{
        display:none;
    }
    .nav_bar{
        display: block;
    }

    .header{
        background-image: url(../images/desktop/image-header.jpg);
        width: 1440px;
    }

    .menu_mobile{
        display: none;
    }


    .egg{    
        background-image: url("../images/desktop/image-transform.jpg");
    }

    .testimonials{
        flex-wrap: wrap;
        
    }

    .section_transform{
        width: 1440px;
        
    }

    .egg{    
        flex:50%;
        height: 600px;
        background-image: url("../images/desktop/image-transform.jpg");
    }

    .cup_section{
        display: flex;
        flex-direction: row;
        width: 1440px;
        align-items: center;
    }
    
}